<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deployee v2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" integrity="sha256-zIG416V1ynj3Wgju/scU80KAEWOsO5rRLfVyRDuOv7Q="
        crossorigin="anonymous" />
</head>

<body>
    <div id="app">
        <section class="hero is-dark ">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        List of AS Groups
                    </h1>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="field">

                    <div class="select">
                        <select v-model="regionSelected">
                            <option v-for="(region, index) in regions" :value="region.name"> {{ region.pretty }}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="columns" v-if="isLoading">
                    <div class="column">Loading...</div>
                </div>
                <div class="columns" v-for="(group, index) in asGroups" style="border-top: 2px solid #f5f5f5" v-else>
                    <div class="column is-3"><p class="has-text-right">{{ group.name }}</p>   </div>

                    <div class="column is-2">
                        <div class="field is-expanded has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    Min
                                </a>
                            </p>
                            <p class="control">
                                <input class="input" type="number" v-model.number="group.min">
                            </p>
                        </div>
                    </div>

                    <div class="column is-2">
                        <div class="field is-expanded has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    Max
                                </a>
                            </p>
                            <p class="control">
                                <input class="input" type="number" v-model.number="group.max">
                            </p>
                        </div>
                    </div>

                    <div class="column is-2">
                        <div class="field is-expanded has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    Des
                                </a>
                            </p>
                            <p class="control">
                                <input class="input" type="number" v-model.number="group.desired">
                            </p>
                        </div>
                    </div>

                    <div class="column is-2">
                            <div class="field is-expanded has-addons">
                                <p class="control">
                                    <a class="button is-static">
                                        Cur
                                    </a>
                                </p>
                                <p class="control">
                                    <input class="input" type="number" style="background: #f5f5f5" v-model.number="group.current" readonly>
                                </p>
                            </div>
                    </div>
                    <div class="column">
                        <button class="button is-info" v-on:click="update(index, group)" v-if="!group.isUpdating">Update</button>
                        <button class="button is-info is-loading" v-else>Update</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.25.6/dist/sweetalert2.all.min.js" integrity="sha256-ub2APZG+Hn74PnrMq5cBid8DMQei5g0zrekH2aQ9smU="
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
